extends layout

block content
    .homepage-container
        .slideshow
            #slideshow
                .slide
                    h2 Realtime & Free
                    .slide-image
            // #slideshow

        .login-box
            .inner-padding
                img.logo(src='img/logo.png', width='217', height='239', alt='Logo')
                h3 Free & ready to go web chat room.
                p
                    a#twitbutt.sb.sb-small.sb-facebook(href="/auth/google")
                        i
                        | Sign in with Google
                form(action='/login', method='post')
                  p
                    label Username:&nbsp;
                    input.text-grey-small(id='username', type='text', name='username')
                  p
                    label Password:&nbsp;
                    input.text-grey-small(id='password', type='password', name='password')
                  p
                    input(type='submit', value='Login', class='button')
        // #login-box
    // .homepage-container

    footer
        | Balloons.IO is an
        a(href='https://github.com/gravityonmars/Balloons.IO', target="_blank") Open Source project
        | developed by
        a(href='http://twitter.com/gravityonmars', target="_blank") Gravity On Mars.

    // JavaScript at the bottom for fast page loading

